@import url('../generalStyle.css');

.descriptionContainer {
    display: flex;
    flex-direction: column;
}

.descriptionToolBar {
    margin-top: var(--margin-s);
    display: flex;
    flex-flow: row-reverse;
}

.descriptionToolButton {
    margin-left: var(--margin-m);
}