@import url('../style.css');

.header {
    background-color: var(--bg-light);
    height: 68px;
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;

}